# Node URL to use for tests and/or deployment
NODE_URL=""

# Set a block number to fork from helps on having more predicatable tests outcome
# See `.github/env.properties`
BLOCK_NUMBER=""

# The deployer private key
# Note: Check `hardhat.config.js` for properly setup
PRIVATE_KEY=""

# The deployer mnemonic phrase
# Note: Check `hardhat.config.js` for properly setup
MNEMONIC=""

# The deployer address
# If empty, will use accounts[0]
DEPLOYER=""

# Executes `hardhat-contract-sizer` plugin report
# Values are true|false
RUN_CONTRACT_SIZER=""

# Executes `hardhat-contract-sizer` plugin report
# Values are true|false
REPORT_GAS=""

# Indicates the chain for tests
# Values are: ethereum|polygon|avalanche (Default is ethereum)
TEST_CHAIN=""
