{
  "printWidth": 120,
  "overrides": [
    {
      "files": [
        "test/*.js",
        "test/**/*.js",
        "tasks/*.js",
        "*.js"
      ],
      "options": {
        "semi": false,
        "singleQuote": true
      }
    }
  ],
  "bracketSpacing": false
}